div{
    border: 3px solid black;
    position: static;
    color: white;
}
.one{
    background: red;
}
.two{
    background: green;
}
.special{
    background: blue;
    position: relative;
    top:10px;
    left: 15px;
}