*{
    margin: 0;
}
.heading1 {
  width: 100vw;
  height: 100vh;
  background: red;
}
.heading2 {
  width: 50vw;
  height: 50vh;
  background: blue;
}
/* in the rem sizing the rem does not get affeted by the parent but get affeted by the root element */
